/* Mobile */

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

section.title-section {
    width: 343px;
    margin: auto;
    margin-top: 64px;
    text-align: center;
}

h1.title {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: barlowCondensed;
    line-height: 110%;
    text-transform: uppercase;
}

p.slogan {
    font-size: 20px;
    font-family: Rajdhani;
    line-height: 130%;
    margin: 16px 0;
}

a.view-all {
    font-size: 18px;
    font-weight: 200;
    font-family: barlowCondensed;
    line-height: 130%;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    color: black;
    z-index: 2;
}

section.image-section {
    width: calc(50% + 116px);
    max-width: 100%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
}

article.content-container {
    width: 100%;
    margin-top: 64px;
}

article.content-container:first-child {
    margin-top: 0;
}

div.image-container {
    width: 100%;
    position: relative;
}

img.mocktail {
    width: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 1;
}

img.graphic {
    position: absolute;
    z-index: 0;
}

.top-left {
    width: 55%;
    top: -18%;
    left: -13%;
}

.top-right {
    width: 62%;
    top: -10%;
    right: -12%;
}

.bottom-left {
    width: 66%;
    bottom: -17.5%;
    left: -25.7%;
}

.bottom-right {
    width: 59.5%;
    bottom: -16%;
    right: -11%;
}

h2.image-description {
    font-size: 24px;
    font-family: barlowCondensed;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 32px;
}

.desktop {
    display: none;
}

/* Fonts */

@font-face {
    font-family: barlowCondensed;
    src: url(./assets/fonts/BarlowCondensed-SemiBold.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(./assets/fonts/Rajdhani-Regular.ttf);
}

/* Desktop */

@media screen and (min-width: 800px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    section.title-section {
        width: auto;
    }

    h1.title {
        font-size: 54px;
        margin: 0;
    }

    p.slogan {
        font-size: 24px;
        margin: 16px 0;
    }

    a.view-all {
        font-size: 20px;
        padding-top: 1px;
    }

    section.image-section {
        width: 91.1%;
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    article.content-container {
        margin-top: 0;
        width: 27.4%;
    }

    .top-left {
        width: 58%;
        left: -20.5%;
    }
    
    .top-right {
        width: 56%;
        top: -6.2%;
        right: -10.3%;
    }
    
    
    .bottom-left {
        width: 65%;
        bottom: -17.5%;
        left: -25%;
    }
    
    .bottom-right {
        width: 56%;
        bottom: -13%;
        right: -10.3%;
    }

    h2.image-description {
        margin-bottom: 0;
        font-size: 36px;
    }
}